<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>BackLash</title>
   <script src='https://kit.fontawesome.com/a076d05399.js'></script>
   <link rel="stylesheet" href="/public/style/style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
   <nav id="navbar" class="navbar">
      <div class="logo">
         <p>ğ•­ğ–†ğ–ˆğ–ğ–‘ğ–†ğ–˜ğ–</p>
      </div>
      <ul class="list-ul">
         <li class="listitem"><i class='fas fa-home'></i> <a href="/home">Home</a> </li>
         <li class="listitem"> <i class='fas fa-user-friends'></i><a href="/about">About</a>  </li>
         <li class="listitem"> <i class='fas fa-phone'></i><a href="/contact">Contact Us</a> </li>

      </ul>
      <form action="/logout" method="GET">
         <button type="submit" class="logutBtn"><i class="fa fa-sign-out"></i></button>
      </form>

      <div id="hamburgur" class="hamburgur">
         <div class="box1"></div>
         <div class="box2"></div>
         <div class="box3"></div>
      </div>
   </nav>
