<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Secret-Share</title>
   <link rel="stylesheet" href="/public/style/style.css">
</head>

<body>
   <nav class="navbar">
      <div class="logo">
         <p>Secret~Share</p>
      </div>
      <ul class="list-ul">
         <li class="listitem"> <a href="/home">Home</a> </li>
         <li class="listitem"> <a href="/about">About</a> </li>
         <li class="listitem"> <a href="/contact">Contact Us</a> </li>

      </ul>
      <form action="/logout" method="GET">
         <button type="submit" class="logutBtn">Logout</button>
         </form>
   </nav>
