<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Secret-Share</title>
   <script src='https://kit.fontawesome.com/a076d05399.js'></script>
   <link rel="stylesheet" href="/public/style/style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
   <nav class="navbar">
      <div class="logo">
         <p>ğ•­ğ–†ğ–ˆğ–ğ–‘ğ–†ğ–˜ğ–</p>
      </div>
      <ul class="list-ul">
         <li class="listitem"> <a href="/home">Home</a> <i class='fas fa-home'></i></li>
         <li class="listitem"> <a href="/about">About</a> <i class='fas fa-user-friends'></i> </li>
         <li class="listitem"> <a href="/contact">Contact Us</a> <i class='fas fa-phone'></i></li>

      </ul>
      <form action="/logout" method="GET">
         <button type="submit" class="logutBtn"><i class="fa fa-sign-out"></i></button>
         </form>
   </nav>
