@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
}
body{
   background-color: rgb(232, 239, 243);
}
.navbar{
   background: linear-gradient(to right top , rgba(90, 204, 183, 0.761) , rgba(99, 202, 218, 0.732));
     box-shadow: 0.1px 0.1px 10px rgb(118, 118, 118);
   backdrop-filter: blur(2rem);
   color: white;
   display: flex;
   margin-bottom: 10px;
   align-items: center;
   z-index: 3;
   position: sticky;
   top: 0;
   transition: all 0.3s ease-in-out;
}
.logo{
   width: 40%;
   display: flex;
   justify-content: center;
   text-align: center;
   padding: 25px;
}
.logo p{
   font-size: 2.5rem;
   font-weight: 600;
   /* text-shadow: 0.1px 0.1px 5px rgb(156, 156, 156); */
   cursor: pointer;
   letter-spacing: 5px;
}
.list-ul{
   width: 50%;
   display: flex;
   justify-content: space-around;
   list-style: none;
   text-align: center;
   align-items: center;
}
.listitem{
   letter-spacing: 4px;
}
.listitem a{
   text-decoration: none;
   color: white;
   /* font-weight: 600; */
   font-size: 1.1rem;
   transition: all 0.2s ease-in-out;
}
.listitem a:hover{
   text-shadow: 0.2px 0.2px 20px rgb(122, 122, 122);
}

.hamburgur{
   width: 40px;
   height: 12px;
   position: absolute;
   right: 5%;
   top: 46px;
   display: none;
}
.box1,.box2,.box3{
   width: 40px;
   height: 4px;
   background-color: white;
   margin: 6px;
}

.section-one{
   width: 70%;
   margin: auto;
}

.blogTitle{
   margin-top: 20px;
   margin-bottom: 20px;
}

.blogTitle p{
   font-size: 1.5rem;
   color: #426696;
   font-weight: 500;

}
.content p{
   font-size: 16px;
   font-weight: 400;
   color: #232222;
   letter-spacing: 0.5px;
}
.section-one{
   background: linear-gradient(to right bottom , rgba(255, 255, 255, 0.704) , rgba(255, 255, 255, 0.38));
border: 2px solid rgba(255, 255, 255, 0.704);
padding: 1rem 1rem;
backdrop-filter : blur(1rem);
margin-bottom: 10px;
box-shadow: 0.1px 0.1px 5px rgb(161, 161, 161);
border-radius: 0.5rem;
}

.section-one form{
   display: flex;
   flex-direction: column;
   width: 80%;
   margin : auto;
   margin-top: 50px;
}
.section-one form label{
   font-size: 1.3rem;
   margin-bottom: 5px;
}
.section-one form input{
   margin-bottom: 20px;
   height: 30px;
   font-size: 1rem;
   padding: 5px;
   border-radius: 7px;
   outline: none;
   box-shadow: 0.3px 0.3px 5px #b9b9b9;
   border: 3px solid rgb(175, 175, 175);
}
.section-one form textarea{
   margin-bottom: 10px;
   min-height: 250px;
   font-size: 1rem;
   padding: 5px;
   box-shadow: 0.3px 0.3px 5px #b9b9b9;
   border: 3px solid rgb(175, 175, 175);
   border-radius: 7px;
   outline: none;
}
.section-one .writeBlog p{
   text-align: center;
   font-size: 2rem;
   letter-spacing: 2px;
   font-weight: 500;
   color: #426696;
}

.submitBtn{
   font-size: 1rem;
    width: 160px;
    height: 38px;
    border: none;
    background-color: #3491b1;
    color: white;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    box-shadow: 0.3px 0.3px 5px #b9b9b9;
}
.composeform{
   position: absolute;
   bottom: 50px;
   left: 50px;

}
.composeBtn{
   height: 80px;
   width: 80px;
   border-radius: 50%;
   background-color: rgb(55, 55, 55);
   border: none;
   font-size: 3rem;
   color: white;
   outline: none;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
   position: fixed;
   left: 5%;
   bottom: 5%;
}
.composeBtn:hover{
   background-color: rgb(33, 33, 33);
   box-shadow: 0.2px 0.2px 10px rgb(79, 79, 79);

}
.readmore{
   text-decoration: none;
   color: rgb(19, 117, 166);
}
.logutBtn{
   font-size: 1rem;
   width: 50px;
   height: 38px;
   border: none;
   background : transparent;
   color: white;
   border-radius: 7px;
   outline: none;
   cursor: pointer;
   border: 3px solid rgb(65, 65, 65);
   font-weight: 600;
   background: rgb(70, 70, 70);
   box-shadow: 0.2px 0.2px 3px rgb(79, 79, 79);
   transition: all 0.3s ease-in-out;
}
.logutBtn:hover{
   border: rgb(65, 65, 65);
   background: rgb(38, 38, 38);
   box-shadow: 0.2px 0.2px 3px rgb(79, 79, 79);
}
.circle1 , .circle2 , .circle3{
   background: linear-gradient(to right top , #65dfc947 , #6cdaeb4c);
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   position: absolute;
   z-index: -1;
   /* border: 2px solid red; */
}
.circle1{
   right: 10%;
   top: 20%
}
.circle2{
   left: 10%;
   bottom: 20%
}
.circle3{
   left: 50%;
   bottom: 10%
}

@media only screen and (max-width : 1073px){
   .listitem{
      letter-spacing: 0px;
   }
}

@media only screen and (max-width : 896px){
   .navbar{
      display: flex;
      height: 107px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
   }
   .listitem{
      letter-spacing: 0px;
   }
   .hamburgur{
      display: block;
   }
   .h-nav{
      height: 257px;
   }
   .logutBtn {
      margin: 18px;
  }
  .list-ul{
   width: 90%;
   margin: 12px;
  }

.blogTitle p{
   font-size: 0.8rem;
   color: #426696;
   font-weight: 500;

}
.content p{
   font-size: 12px;
   font-weight: 400;
   color: #232222;
   letter-spacing: 0.5px;
}
}
