<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>SecretShare</title>
   <link rel="stylesheet" href="/public/style/loginStyle.css">
</head>
<body>
   <form class="signupForm" action="/ChooseAvatar" method="POST">
      <p>Choose Avatar</p>
      <div class="chooseavatar">
         <button type="submit" name="first" value="1.jpeg" class="first"></button>
         <button type="submit" name="second" value="2.jpeg" class="second"></button>
         <button type="submit" name="third" value="3.jpeg" class="third"></button>
         <button type="submit" name="fourth" value="4.jpeg" class="fourth"></button>
      </div>
   </form>
</body>
</html>
