<%- include('partials/header.ejs'); -%>

<div class="section-one">
   <div class="writeBlog">
      <p>Write your Blog</p>
   </div>
   <form class="postform" action="/home" method="POST">
      <label for="ftitle">Title</label>
      <input type="text" name="posttitle">
      <label for="fcontent">Content</label>
      <textarea name="postContent" id="" cols="30" rows="10"></textarea>
      <button type="submit" class="submitBtn">Submit</button>
   </form>
</div>
<div class="circle1"></div>
<div class="circle2"></div>
<div class="circle3"></div>

<%- include('partials/footer.ejs'); -%>
