<%- include('partials/header.ejs'); -%>

<div class="section-one">
   <form action="/" method="POST">
      <label for="ftitle">Title</label>
      <input type="text" name="posttitle">
      <label for="fcontent">Content</label>
      <textarea name="postContent" id="" cols="30" rows="10"></textarea>
      <button type="submit" class="submitBtn">Submit</button>
   </form>
</div>


<%- include('partials/footer.ejs'); -%>
