<%- include('partials/header.ejs'); -%>

<section class="section-one">
   <div class="blogTitle">
      <p>Contact Us</p>
   </div>
   <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur tempore neque sunt culpa saepe iste praesentium rem sint et laudantium odio, ducimus odit hic id at alias dolores distinctio explicabo ratione vel maiores repudiandae asperiores omnis recusandae? Porro itaque, voluptate cumque accusantium omnis deleniti possimus nulla eius architecto labore quo tempore, reprehenderit laudantium unde magni facere nobis! Maxime a vero neque magnam minus debitis omnis dolorem, sint quia harum quidem iure consequuntur doloremque perferendis non quisquam dolores corrupti culpa facere dolore? Culpa mollitia dignissimos dolor quis suscipit ratione eum distinctio velit tenetur pariatur unde ducimus quaerat inventore provident nostrum exercitationem, qui ut quisquam. Numquam aspernatur enim libero veniam explicabo vitae recusandae pariatur iusto laudantium. Veritatis soluta possimus aliquid ab fuga nulla, sit expedita totam dolor, perferendis mollitia iure itaque ullam omnis voluptatum vel laborum minus! Natus quaerat reiciendis sequi sit, dicta velit minus incidunt vel officia eum maiores animi ea mollitia alias. Quos ducimus similique perspiciatis distinctio accusantium illum corporis aperiam voluptates quas amet repellendus nihil obcaecati ea magni et pariatur mollitia enim sunt quam quae, autem sit.<br> <br> repellendus in soluta, illum aspernatur earum ratione obcaecati doloremque eum odit similique, enim harum rem qui, explicabo temporibus sed repellat eveniet nisi officia quia consectetur deleniti. Vero repellendus ab sequi tempore consectetur tempora sint magni deleniti maiores eligendi molestias quibusdam totam culpa eaque iusto, ducimus architecto adipisci debitis harum asperiores quos dolorem mollitia. Exercitationem similique obcaecati omnis eligendi eveniet labore officiis commodi, delectus, animi adipisci dolore optio sed necessitatibus suscipit id ea amet doloribus sunt perferendis cumque atque itaque. Sapiente beatae esse quis ducimus assumenda ipsam, unde cupiditate atque, quibusdam rerum expedita a blanditiis nam qui praesentium quos maxime necessitatibus? Saepe recusandae expedita architecto, doloribus molestiae a neque, sit corrupti consequuntur ipsa labore accusamus veritatis magni, exercitationem dolorem reiciendis quaerat minus?</p>
   </div>
</section>
<div class="circle1"></div>
<div class="circle2"></div>
<div class="circle3"></div>

<%- include('partials/footer.ejs'); -%>
