<%- include('partials/header.ejs'); -%>

<section class="section-one">
   <div class="blogTitle">
      <p><%= item.Title %></p>
      <% item.Title %>
   </div>
   <div class="content">
      <p><%= item.Content %></p>
      <% item.Content %>
   </div>
</section>


<%- include('partials/footer.ejs'); -%>
