<%- include('partials/header.ejs'); -%>

<section class="section-one">
   <div class="blogTitle">
      <p><%= item.Title %></p>
      <% item.Title %>
   </div>
   <div class="content">
      <p><%= item.Content %></p>
      <% item.Content %>
   </div>
</section>
<div class="circle1"></div>
<div class="circle2"></div>
<div class="circle3"></div>

<%- include('partials/footer.ejs'); -%>
