<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Sign Up</title>
   <link rel="stylesheet" href="/public/style/loginStyle.css">
</head>

<body>
   <form class="signupForm" action="/signup" method="POST">
      <p>Sign Up</p>
      <label for="fname">Email</label>
      <input type="text" name="userEmail">
      <label for="password">Password</label>
      <input type="password" name="userPassword">
      <button class="btn">Sign Up</button>
   </form>

</body>

</html>
